* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

.container {
  position: relative;
}

.hidden {
  display: none;
}

nav {
  position: relative;
  justify-content: center;
  background-color: red;
  box-shadow: 0px 0px 7px 0px black;
  height: 75px;
  z-index: 1;

}

nav ul {
  display: none;
}

.hamburger {
  width: 35px;
  float: right;
  margin: 20px 35px;
  max-width: 45px;
  cursor: pointer;
}

.mobile-navbar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 225px;
  z-index: 999;
  background-color: red;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
}

.mobile-navbar li {
  width: 100%;
  list-style-type: none;
}

.mobile-navbar a {
  width: 100%;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: 15px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  text-align: start;
}

.mobile-navbar li :hover {
  color: black;
  background-color: white;
  text-decoration: none;
}

.mobile-navbar.active {
  display: block;
}

.close-burger {
  width: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 5px;
  margin-left: 160px;
  cursor: pointer;
}

#nav-logo {
  position: absolute;
  width: 200px;
  padding-left: 15px;
}

/* Footer */
#footer-hero {
  display: flex;
  flex-direction: column;
  background-color: grey;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#footer-logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.line {
  background-color: white;
  height: 4px;
  width: 55%;
  margin: 10px auto;
}

#para-graph {
  position: relative;
  color: white;
  margin: 0 auto;
  padding-top: 25px;
}

#footer-social-media {
  position: relative;
  color: white;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Tablet Grid */
@media screen and (min-width: 768px) {

  nav {
    position: relative;
    height: 100px;
  }

  nav ul {
    position: absolute;
    right: 25px;
    margin-top: 0px;
    display: block;
  }

  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 10px 15px;
  }

  nav ul li a {
    color: white;
    font-size: 24px;
    padding: 7px;
    border-radius: 3px;
    text-transform: uppercase;
  }

  nav ul li a:hover {
    color: black;
    background-color: white;
    padding: 10px;
    transition: 0.5s;
  }

  .mobile-navbar {
    display: none;
  }

  .mobile-navbar.active {
    display: none;
  }

  .hamburger {
    display: none;
  }

  #nav-logo {
    position: absolute;
    width: 250px;
  }
}

/* Desktop Grid */
@media screen and (min-width: 1200px) {

}